body{
    font:20px arial, sans-serif
}
.navbar{
    background-color:#5FB404;  
}

.quem-somos{
    background-color:#A9E2F3;
    color:white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: teal;
}

.bg-footer{
    background-color: black;
    color: white;
}